
senac-cn-ado02/.vs/senac-cn-ado02/v15/.suo
senac-cn-ado02/.vs/senac-cn-ado02/v15/Browse.VC.db
senac-cn-ado02/senac-cn-ado02.sln
senac-cn-ado02/.vs/senac-cn-ado02/v15/Browse.VC.opendb
senac-cn-ado02/senac-cn-ado02.vcxproj
senac-cn-ado02/senac-cn-ado02.vcxproj.filters
*.pdb
*.idb
senac-cn-ado02/Debug/senac-cn-ado02.tlog/unsuccessfulbuild
*.ipch
*.log
*.tlog
*.obj
senac-cn-ado02/Debug/senac-cn-ado02.ilk
senac-cn-ado02/Debug/senac-cn-ado02.exe
senac-cn-ado03/.vs/senac-cn-ado03/v15/.suo
senac-cn-ado03/.vs/senac-cn-ado03/v15/Browse.VC.db
senac-cn-ado03/.vs/senac-cn-ado03/v15/Browse.VC.opendb
senac-cn-ado03/senac-cn-ado03.sln
senac-cn-ado03/senac-cn-ado03.vcxproj
senac-cn-ado03/senac-cn-ado03.vcxproj.filters
senac-cn-ado03/Debug/lib.obj.enc
