
senac-cn-ado02/.vs/senac-cn-ado02/v15/.suo
senac-cn-ado02/.vs/senac-cn-ado02/v15/Browse.VC.db
senac-cn-ado02/senac-cn-ado02.sln
senac-cn-ado02/.vs/senac-cn-ado02/v15/Browse.VC.opendb
senac-cn-ado02/senac-cn-ado02.vcxproj
senac-cn-ado02/senac-cn-ado02.vcxproj.filters
